@tailwind base;
@tailwind components;
@tailwind utilities;

.news-content {
  a {
    text-decoration: underline;
  }
}

/* Hide unwanted video controls */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

video::-webkit-media-controls-picture-in-picture-button {
  display: none !important;
}

video::-webkit-media-controls-download-button {
  display: none !important;
}

video::-webkit-media-controls-cast-button {
  display: none !important;
}
